@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
}
  
/* .navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #F8CE8E;
} */

.navbar{
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #e6951b;
}

.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link.active {
    color: #e6951b;
}

.nav-f{
  color: #000000;
}

.nav-f:hover,.nav-f:active,
.nav-f:hover,.nav-f.active{
  color: #000000;
  text-decoration: line-through;
}

.header {
    position: absolute;
    z-index: 1000;
    height: 100px;
    width: 100%;
    background: transparent;
    padding: 0px;
    -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
}

/* .active {
    background-color: white;
} */

.bg-nav{
    background-color: white;
}

.btn-outline-info {
    color: #F8CE8E;
    border-color: #F8CE8E;
  }
  
.btn-outline-info:hover {
  color: #fff;
  background-color: #F8CE8E;
  border-color: #F8CE8E;
  }
  
.btn-outline-info:focus,
.btn-outline-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
  }

.btn-outline-info2 {
  display: inline-block;
  font-weight: 400;
  color: #F8CE8E;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: white;
  border: 2px solid #F8CE8E;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.75rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  color: #F8CE8E;
  border-color: #F8CE8E;
  background-color: #ffffff;
  }
  
.btn-outline-info2:hover {
  color: #ffffff;
  background-color: #F8CE8E;
  border-color: #F8CE8E;
}
  
.btn-outline-info2:focus,
.btn-outline-info2.focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-hubungi {
  display: inline-block;
  font-weight: 400;
  color: #F8CE8E;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: white;
  border: 1px solid #F8CE8E;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.75rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  color: #FFFFFF;
  border-color: #FFBE0F;
  background-color: #FFBE0F;
  }
  
.btn-hubungi:hover {
  color: #ffffff;
  background-color: #F8CE8E;
  border-color: #F8CE8E;
}
  
.btn-hubungi:focus,
.btn-hubungi.focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}
  

.btn-more {
  color: #FFBE0F;
  background-color: #ffffff;
  border-color: #ffffff;
}
  
.btn-more:hover {
  color: #ffffff;
  background-color: #F8CE8E;
  border-color: #F8CE8E;
}
  
.btn-more:focus,
.btn-more.focus {
  color: #FFBE0F;
  background-color: #ffffff;
  border-color: #ffffff;
  /* box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); */
}

.btn-transparant {
  color: #FFFFFF;
  background-color: rgb(204, 204, 204);
  border: 1px solid transparent;
  opacity: 0.6;
}
  
.btn-transparant:hover {
  color: #FFFFFF;
  background-color: #979592;
  border-color: #979592;
}
  
.btn-transparant:focus,
.btn-transparant.focus {
  color: #ffffff;
  background-color: #979592;
  border-color: #979592;
  /* box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); */
}

.page-hero-section {
    position: relative;
    height: 100vh;
    z-index: -10;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }

  .text-h1{
      font-size: 56px;
  }

  .text-kuning{
    color: #FFBE0F !important;
  }

  .text-oren{
    color: #FFBE0F;
    text-decoration: underline;
  }

  .text-oren:hover{
    color: #ff830f;
    text-decoration: underline;
  }

.g-slide{
    margin-top: 300px;
    margin-bottom: 150px;
}
.g-slide2{
  margin-top: 300px;
  margin-bottom: 172px;
}
.g-slide3{
  margin-top: 100px;
  margin-bottom: 33px;
}

.bg-s{
  height: 850px;
}

@media(max-width: 1024px){
  .g-slide{
    margin-top: 200px;
    margin-bottom: 196px;
  }
  .g-slide2{
    margin-top: 200px;
    margin-bottom: 196px;
  }
  .g-slide3{
    margin-top: 20px;
    margin-bottom: 38px;
  }
  .bg-s{
    height: 711px;
  }
}
@media(max-width: 769px){
  .g-slide{
    margin-top: 300px;
    /* margin-bottom: 290px; */
  }
  .g-slide2{
    margin-top: 200px;
    /* margin-bottom: 162px; */
  }
  .g-slide3{
    margin-top: 20px;
    margin-bottom: 123px;
  }
  .g-slide3 img{
    width: 100%;
    height: auto;
  }
  .gmb{
    width: 250%;
    height: 80%;
  }
  .mt-md-slide3{
    margin-top: 50px;
  }
  .bg-s{
    height: 700px;
  }
}

@media(max-width: 576px){
  .g-slide{
    margin-top: 100px;
    margin-bottom: 10px;
  }
  .g-slide2{
    margin-top: 90px;
    margin-bottom: 50px;
  }
  .g-slide3{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .g-slide3 img{
    width: 100%;
    height: auto;
  }
  .gmb{
    width: 250%;
    height: 80%;
  }
  .mt-md-slide3{
    margin-top: 20px;
  }
  .bg-s{
    height: 800px;
  }
  .aksen1{
    display: none;
  }
  .mx{
    margin-left: 20px;
    margin-right: 20px;
  }
  .img-bg{
    width: 300px;
    height: 1218px;
  }
  .img-our{
    width: 300px;
    height: auto;
  }
}

.aksen1{
  margin-top: -200px;
}

  .mt-des{
      margin-top: 220px;
  }

  .bg{
    z-index: -10;
  }

  section.strategi {
    background-image: url("../images/beranda/bg-2-3.png");
    z-index: -100;
  }
  
  .strategi .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    width: 300px;
    background-color: #FFFFFF;
  }
  
  .strategi hr {
    margin: 1.5rem 0;
  }
  
  .strategi .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .strategi .card-price {
    font-size: 3rem;
    margin: 0;
  }
  
  .strategi .card-price .period {
    font-size: 0.8rem;
  }
  
  .strategi ul li {
    margin-bottom: 1rem;
  }
  
  .strategi .text-muted {
    opacity: 0.7;
  }
  
  .strategi .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }

  @media (max-width: 800px){
    .strategi .card {
      border: none;
      border-radius: 1rem;
      transition: all 0.2s;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
      width: 230px;
    }
  }
  
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
    .strategi .card:hover {
      transform: scale(1.02);
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .strategi .card:hover .btn {
      opacity: 1;
    }
  }

  .produk-more{
    transition: all 0.2s;
  }

  .produk-more:hover{
    transform: scale(0.9);
  }
  
  .mx-4-5{
    margin-right: 2.5rem !important;
    margin-left: 2.5rem !important;
  }

  .mt-5-5{
    margin-top: 6rem !important;
  }

  .mb-5-5{
    margin-bottom: 6rem !important;
  }

  .mt-ilus{
    margin-top: 11rem !important;
  }

  .mb-ilus{
    margin-bottom: 6.8rem !important;
  }

  ul.produk-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }
  
  ul.produk-network li {
    
    margin: 0 5px;
  }
  
  .produk-network a.ico1:hover {
    background-color: #e2c471;
    text-decoration: none;
  }
  
  .produk-network a.ico2:hover {
    background-color: #89abe2;
    text-decoration: none;
  }
  
  .produk-network a.ico3:hover {
    background-color: #eba5b6;
    text-decoration: none;
  }

  .produk-network a.icoFacebook:hover i,
  .produk-network a.icoTwitter:hover i,
  .produk-network a.icoInstagram:hover i,
  .produk-network a.icoYoutube:hover i {
    color: #fff;
  }
  
  .produk-network a.produkIcon:hover,
  .produkHoverClass {
    color: #44BCDD;
  }
  
  .produk-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
    color: #ffffff;
  }
  
  .produk-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  
  .produk-circle i {
    color: #ffffff;
  }
  
  .produk-network a.ico1 {
    background-color: #F4DDA0;
  }
  .produk-network a.ico2 {
    background-color: #BCD5FC;
  }
  .produk-network a.ico3{
    background-color: #FAC2CF;
  }

  .list-produk {
    border: none;
    border-radius: 0.5rem;
    transition: all 0.2s;
    box-shadow: 0 0rem 0rem 0 rgba(0, 0, 0, 0.1);
    /* width: 370px; */
    height: 58px;
  }
  
  .list{
    text-decoration: none;
    color: black;
  }

  .list:hover{
    text-decoration: none;
    color: black;
  }

  @media (min-width: 992px) {
    .list-produk:hover {
      transform: scale(1.02);
      box-shadow: 0 0rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
  }

.numberCircle1 {
    border-radius: 100%;
    width: 36px;
    height: 50px;
    padding: 12px;

    background: #F4DDA0;
    /* border: 2px solid #666; */
    color: #ffffff;
    text-align: center;
}

.numberCircle2 {
  border-radius: 100%;
  width: 36px;
  height: 50px;
  padding: 12px;

  background: #BCD5FC;
  /* border: 2px solid #666; */
  color: #ffffff;
  text-align: center;
}

.numberCircle3 {
  border-radius: 100%;
  width: 36px;
  height: 50px;
  padding: 12px;

  background: #FAC2CF;
  /* border: 2px solid #666; */
  color: #ffffff;
  text-align: center;
}

section.section-3-4{
  background-image: url("../images/beranda/bg-3-4.png") ;
}

article {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: hsl(0, 0%, 100%);
  line-height: 2;
  border-radius: 10px;
  margin: 0.5rem;
  transition: transform 0.2s ease-out;
  box-shadow: 0 0 10px 0px hsla(0, 0%, 0%, 0.1);
}
/* article:hover{
  background: #FFBE0F;
} */
article figure {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: -60px;
  position: relative;
  
}
article figure:before {
  content: "";
  border-radius: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  /* border: 1rem solid hsl(250, 85%, 97%); */
  /* box-shadow: 0 1px hsla(0, 0%, 0%, 0.1); */
}
article figure img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

article div {
  text-align: center;
  margin: 2rem;
}
article div p {
  color: hsl(250, 5%, 45%);
  font-weight: 400;
  font-style: italic;
  margin: 1rem 0 3rem;
  font-family: "Noticia Text", serif;
  position: relative;
  z-index: 5;
}
article div p:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: -5;
  opacity: 0.05;
  background-image: #ffffff;
  background-position: 20% 20%, 80% 80%;
  background-repeat: no-repeat;
}
article div h1 {
  color: hsl(260, 5%, 55%);
  font-family: "Lato", sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

section.bergabung{
  background-color: #FFBE0F;
}

.page-footer-section {
  position: relative;
  margin-top: -10px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
  color: white;
}

.page-footer-section.bg-dark .caption {
  color: #ffffff;
}

.page-footer-section.bg-dark hr {
  border-color: #4d4853;
}

.menu-link {
  position: relative;
  padding-left: 0;
  list-style: none;
}

.menu-link li {
  display: block;
  margin: 10px 0;
}

.menu-link li a {
  padding-top: 6px;
  padding-bottom: 6px;
  color: #5e5e5e;
}

.menu-link li a:hover {
  color: #000000;
  text-decoration: underline;
}

.page-footer-section a {
  color: #858585;
  font-size: 14px;
  transition-duration: 0.2s;
}
.page-footer-section p {
  color: #858585;
}

.page-footer-section a:hover {
  color: #272e91;
  text-decoration: none;
}

.footer-middle {
  padding-top: 2em;
  color: #000000;
}

.margin{
  margin-right: 100px;
  margin-left: -230px;
}

.navbar-f{
  box-shadow: 0 -2px 2px 0 rgba(44, 44, 44, 0.3);
}

.bg-navtk{
  background-color: #FDF4F2;
}

.box{
  width: 70px;
  height: 70px;
  background-color: #FDF4F2;
  padding: 10px;
  border-radius: 5px;
}

.card-berita {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0rem 1rem 0 rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
}

.body-berita {
  flex: 1 1 auto;
  min-height: 1px;
  padding-top: 1.25rem;
}

.card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  width: 350px;
  /* height: 400px; */
  background-color: #FFFFFF;
}

.card-title {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.card-price {
  font-size: 3rem;
  margin: 0;
}

.card-price .period {
  font-size: 0.8rem;
}

.text-muted {
  opacity: 0.7;
}

.card.btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

@media (max-width: 800px){
  .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    width: 230px;
  }
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .card:hover {
    transform: scale(1.02);
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .card:hover .btn {
    opacity: 1;
  }
}

.mt-card{
  margin-top: 6.3rem !important;
}

.ml-produk{
  margin-left: 2.1rem !important;
}

.ml-pro{
  margin-left: -1rem !important;
}

.mt-pro{
  margin-top: 20rem !important;
}

.m-branding{
  margin-top: 80px;
  margin-left: 0px;
  z-index: 100;
  position: absolute;
}

.m-solusi{
  margin-top: 80px;
  margin-left: 10px;
  z-index: 100;
  position: absolute;

}
.bgt{
  margin-top: -500px;
  z-index: -100;
}

.z{
  z-index: -10;
}

.ilus{
  margin-top: 30px;
  margin-left: 30px;
  z-index: 100;
  position: absolute;
}

.t1{
  margin-top: -650px;
  z-index: 100;
}

.t2{
  margin-top: -800px;
  z-index: 100;
}

@media (max-width: 1024px){
  .t1{
    margin-top: -650px;
    z-index: 100;
  }
  
  .t2{
    margin-top: -400px;
    z-index: 100;
  }
}

@media (max-width: 769px){
  .t1{
    margin-top: -650px;
    z-index: 100;
  }
  
  .t2{
    margin-top: -200px;
    z-index: 100;
  }
  .img-video{
    width: 500px;
    height: 200px;
  }
  .m-d{
    margin-top: 120px;
  }
  .img-tn{
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 576px){
  .mb-bg{
    margin-bottom: 130px;
  }
  .t2{
    margin-top: 100px;
  }
  .img-video{
    width: 250px;
    height: 120px;
  }
  .img-tn{
    margin-top: -100px;
    width: 200px;
    height: 100;
  }
  .p-v{
    font-size: 10px;
  }
  .sz{
    width: 50px;
    height: auto;
  }
  .mt-ilus{
    margin-top: 0rem !important;
  }
  .des1{
    margin-top: 80px;
  }
}

@media(max-width: 325px){
  .gb-pro{
    width: 250px;
    height: auto;
  }
  .m-solusi{
    margin-left: 60px;
  }
}

.btm {
  display: inline-block;
  font-weight: 300;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #e2e2e2;
  opacity: 0.6;
  border: 1px solid transparent;
  padding: 0.175rem 0.35rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btm {
    transition: none;
  }
}

.btm:hover {
  color: #212529;
  text-decoration: none;
}

.btm:focus,
.btm.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btm.disabled,
.btm:disabled {
  opacity: 0.65;
}

.btm:not(:disabled):not(.disabled) {
  cursor: pointer;
}

a.btm.disabled,
fieldset:disabled a.btm {
  pointer-events: none;
}

.bg-produk{
  z-index: -100;
}

.produk-utama{
  max-width: 120px;
  max-height: 120px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: white;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled,
.btn:disabled {
  opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.bg-teks{
  margin-left: 150px;
  overflow: hidden;
}

.bg-pro{
  margin-left: 670px;
  overflow: hidden;
}

.bg-bunder{
  margin-left: 800px;
  overflow: hidden;
}

section.business-1 {
  background-image: url("../images/business\ plan/bg-ilus-section-1.png");
  max-width: 100%;
  height: auto;
  z-index: -100;
}

.card-business{
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0rem 1rem 0 rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 300px;
  background-color: #FFFFFF;
}

@media (max-width: 800px){
  .card-business {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    width: 230px;
    background-color: #FFFFFF;
  }
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .card-business:hover {
    background-color: #F8CE8E;
    transform: scale(1.02);
    box-shadow: 0 0rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .card-business:hover .btn {
    opacity: 1;
  }
}

.card-mlm{
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0rem 1rem 0 rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 340px;
  background-color: #FFFFFF;
}

.slider-card{
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0rem 1rem 0 rgba(0, 0, 0, 0.1);
  width: 800px;
  height: 250px;
  background-color: #FFFFFF;
  padding: 10px;
}

.slider-card img{
  width: 400px;
}

.slider-card.text-footer{
  font-size: 70px;
}

.b{
  font-size: 12px;
}

.title-mlm{
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 800px){
  .card-mlm {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    width: 230px;
    background-color: #FFFFFF;
  }
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .card-mlm:hover {
    transform: scale(1.02);
    box-shadow: 0 0rem 1rem 0 rgba(0, 0, 0, 0.3);
    background-color: #FFFFFF;
  }
  .card-mlm:hover .btn {
    opacity: 1;
  }
}

.best{
  color: #000000;
  text-decoration: none;
}

.best:hover{
  color: #000000;
  text-decoration: none;
}

.foot{
  font-size: xx-small;
}

.des-galeri{
  margin-top: -30px;
  margin-left: 10px;
}

.ron{
  border-radius: 15px !important;
}

/* Untuk Galeri */
section.galeri{
  background-color: #FFFFFF;
}
.galeri img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

#mkLightboxContainer {
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100vh;
  min-width: 100vw;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mkLightboxContainer > * {
  z-index: 99;
}

#overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background: rgba(0,0,0,.85);
  z-index: 0;
}

#mkLightboxContainer #mklbInner {
  position: relative;
  height: 100vh;
  transition: all .4s ease-in-out;
  margin-left: 0;
}

section.imageContainer {
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
  border: none;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

#mkLightboxContainer img,
#mkLightboxContainer video {
  background: #fff;
  border: 4px solid #ffffff;  max-height: 85vh;
  border-radius: 15px;
  min-width: auto;
  max-width: 75vw;
  width: 50%;
  height: auto;
}

#mkLightboxContainer #yt-video {
  width: 75vw;
  height: 42.1875vw; /* 75*9/16 */
}

.mklbItem:hover {
  cursor: pointer;
  font-style: italic;
}

#closeIconContainer {
  width: 25px;
  height: 25px;
  position: fixed;
  top: 15px;
  right: 15px;
  transition: transform .2s linear;
}

#closeIconContainer:hover {
  cursor: pointer;
  transform: scale(1.5);
}

#closeIconContainer svg,
#prev svg,
#next svg{
  fill: white;
}

#prevContainer,
#nextContainer {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  padding: 10px 5px 10px 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in;
}

#nextContainer {
  left: auto;
  right: 0;
}

#prevContainer:hover,
#nextContainer:hover {
  cursor: pointer;
  background: rgba(0,0,0,0.25);
}

#prev,
#next {
  width: 35px;
  height: 35px;
}

.form-control{
  width: 300px;
  padding: 5px 15px 5px 35px;
}

.form-search{
  margin: 0 auto;
  text-align: center;

  font: bold 13px sans-serif;
  max-width: 50%;
  position: relative;
}

.form-search input{
  width: 60%;
  box-sizing: border-box;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  background-color:  #ffffff;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 14px 15px 14px 15px;
  border: 1px solid #b6c3cd;;
  border-right: 0;
  color:#4E565C;
  outline: none;
  -webkit-appearance: none;
}

.form-search button{
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  background-color:  #FFBE0F;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: #ffffff;
  padding: 15px 22px;
  margin-left: -6px;
  cursor: pointer;
  border: none;
  outline: none;
}

.form-search button:hover{
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  background-color:  #F8CE8E;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: #ffffff;
  padding: 15px 22px;
  margin-left: -6px;
  cursor: pointer;
  border: none;
  outline: none;
}

.form-search i{
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 16px;
  color: #80A3BD;
}

.icon{
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  color: gray;
  /* width:24px;
  height:24px; */
}


/* Modal */
.modal-body-scroll .modal-body {
  overflow-y: auto;
  height: 350px;
}

.img-modal{
  width: 380px;
  height: 320px;
}

@media (max-width: 768px) {
  .modal-scroll .imgWrapper > img {
    max-width: 80%;
    max-height: calc(100vh - 190px - 120px);
  }	
  .modal-scroll.modal-dialog {
    margin: 0;
  }
  .modal-scroll .modal-content {
    border: none;
    border-radius: 0;
  }
  .modal-body-scroll .modal-body {
    max-height: calc(100vh - 122px);
    overflow-y: auto;
  }
}

@media (min-width: 768px) {
  
  .modal-scroll .imgWrapper > img {
    max-width: 80%;
    height: calc(100vh - 193px - 120px);
  }  

  .modal-scroll.modal-dialog {
    width: 80%;
    margin: 0 auto;
  }
  .modal-body-scroll .modal-body {
    max-height: calc(100vh - 124px);
    overflow-y: auto;
  }
}

.form-cek {
  display: block;
  margin-bottom: 15px;
}

.form-cek input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-cek label {
  position: relative;
  cursor: pointer;
}

.form-cek label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #000000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-cek input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #FFBE0F;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.stack-carousel .owl-item {
  padding: 50px 12px;
  transition: all .3s ease;
}

.stack-carousel .owl-item.center {
  z-index: 3;
}

.stack-carousel .item {
  position: relative;
  /* padding: 20px; */
  width: 100%;
}

.event-carousel .owl-item {
  padding: 50px 10px;
  opacity: 0.6;
  transition: all .3s ease;
}

.event-carousel .owl-item.center {
  transform: scale(1.2);
  opacity: 1;
  z-index: 3;
}

.event-carousel .item {
  position: relative;
  padding: 10px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(56, 51, 64, 0.15);
  border-radius: 1rem;
}

.berita-carousel .owl-item{
  padding: 50px 10px;
  opacity: 0.3;
  transition: all .3s ease;
}

.berita-carousel .owl-item.center {
  transform: scale(1.2);
  opacity: 1;
  z-index: 3;
}

/* .event-carousel .item {
  position: relative;
  padding: 10px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(56, 51, 64, 0.15);
  border-radius: 1rem;
} */

.promo-nav{
  position: absolute;
  top: 0; 
  left: 50px;
  
}
.promo-prev{
  color: rgb(139, 139, 139);
  left: 5%;
  top: 90%;
  background-color: #fff;
  width: 50px;
  height: 50px;
  padding: 15px;
  border-radius: 100%;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  font-size: 20px !important;
}
.promo-next{
  color: rgb(139, 139, 139);
  left: 13%;
  top: 90%;
  background-color: #fff;
  width: 50px;
  height: 50px;
  padding: 15px;
  border-radius: 100%;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  font-size: 20px !important;
}

.promo-next:hover,
.promo-prev:hover{
  color: #fafafa;
  background-color: orange;
}

/* .event-nav{
  position: absolute;
  top: 90%; 
  left: 50px;
} */
.event-prev{
  position: absolute;
  left: 0px;
  top: 10px;
  color: #979592;
  background-color: #fff;
  width: 50px;
  height: 50px;
  padding: 15px;
  border-radius: 100%;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  font-size: 20px !important;
}
.event-next{
  position: absolute;
  right: 0px;
  top: 10px;
  color: #979592;
  background-color: #fff;
  width: 50px;
  height: 50px;
  padding: 15px;
  border-radius: 100%;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  font-size: 20px !important;
}

.event-next:hover,
.event-prev:hover{
  background-color: orange;
  color: #ffffff;
}

.event-nav{
  position: absolute;
  top: 0;
  width: 100%;
}

.event-prev{
  position: absolute;
  left: -25px;
  top: 40%;
  background-color: #fff;
  width: 50px;
  height: 50px;
  padding: 15px;
  border-radius: 100%;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.08);
  font-size: 20px !important;
}

.event-next{
  background: url(../images/beranda/arrow-right.svg);
}

.event-next{
  background: url(../images/beranda/arrow-left.svg);
}

.event-next{
  position: absolute;
  right: -25px;
  top: 40%;
  background-color: #fff;
  width: 50px;
  height: 50px;
  padding: 15px;
  border-radius: 100%;
  box-shadow: 2px 0px 4px 0 rgba(0, 0, 0, 0.08);
  font-size: 20px !important;
}

.event-next:hover,
.event-prev:hover{
  color: #fafafa;
  background-color: orange;
}

.py-6{
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.font-kecil{
  font-size: small;
}

@media (max-width: 576px){
  .h-p-sm{
    font-size: 16px;
    font-weight: bold;
  }
  .p-p-sm{
    font-size: 12px;
  }
  .text-sm-center{
    text-align: center !important;
  }
  .img-our{
    max-width: 100%;
    height: auto;
  }
}